@charset "utf-8";
/* CSS Document */
#center_contents_main #info_table table{width:440px; margin-left:5px; border:none}
#center_contents_main #info_table table td.date{padding-left:1px;}
#center_contents_main #info_table table td.info_body{line-height:1.3em}
#center_contents_main #info_table table td.info_icon{ width:38px}
#center_contents_main #info_table table.normal_info_head{background:url(../../../img.capcom.com.tw/mhfg/images/launcher/title_bg.html) no-repeat; margin-left:10px}
#center_contents_main #info_table table.normal_info{margin-left:10px}

#launcher_middle .info_table table{width:468px; margin-left:22px; border:none}
#launcher_middle .info_table table td.info_date{padding-left:19px;}
#launcher_middle .info_table table.normal_info_head{background:url(../../../img.capcom.com.tw/mhfg/images/launcher/title_bg_w.gif) no-repeat;}

/* 共通 */
.info_table{}
.info_table td{
		font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
		font-size:10pt; line-height:11pt;
		white-space:nowrap;
	}

td.info_date{text-align:left; vertical-align:top; width:80px}
td.info_body{text-align:left; vertical-align:top}
td.info_icon{text-align:left; vertical-align:top; width:32px}

table.important_info{background-color:#F0C0C0;}
table.normal_info_head{height:24px; position:relative}
table.normal_info_head td.lbl{position:relative}
table.normal_info_head td.lbl a{background:url(../../../img.capcom.com.tw/mhfg/images/launcher/more.gif) no-repeat; width:42px; height:20px; margin-right:23px; position:absolute; right:0; top:0;}
table.normal_info_head td.lbl div{background:no-repeat; width:107px; height:20px; margin-left:23px; width:260px}
table.normal_info{background:none}


.important_info{width:440px; margin-left:5px; margin-bottom:14px; background-color:#F0C0C0; position:relative;}
.normal_info{width:440px; margin-left:10px; margin-bottom:14px; }

.normal_info .head{background:url(../../../img.capcom.com.tw/mhfg/images/launcher/title_bg.html) no-repeat 0px 0px; width:440px; height:24px; position:relative;}
.normal_info .head a{background:url(../../../img.capcom.com.tw/mhfg/images/launcher/more.gif) no-repeat; width:42px; height: 20px; margin-right:23px; position:absolute; right:0; top:3px;}
.normal_info .head .lbl{background:no-repeat 0px 2px; width:107px; height: 22px; margin-left:23px; width: 260px;}
.normal_info .head .info{background-image:url(../../../img.capcom.com.tw/mhfg/images/launcher/informatiion.gif);}
.normal_info .head .game_event{background-image:url(../../../img.capcom.com.tw/mhfg/images/launcher/game_event.gif);}
.normal_info .head .campaign{background-image:url(../../../img.capcom.com.tw/mhfg/images/launcher/campaign.gif);}
.normal_info .head .system{background-image:url(../../../img.capcom.com.tw/mhfg/images/launcher/system.gif);}
	
ul.article{padding:8px; list-style:none;}
ul.article li{overflow:hidden; padding-top:8px;}
ul.article li:first-child{overflow:hidden; padding-top:0px;}
ul.article li .date{width:80px; line-height:1.2em; float:left;}
ul.article li .body{width:306px; line-height:1.2em; float:left;}
ul.article li .icon{width:32px; height:14px; background:url(../../../img.capcom.com.tw/mhfg/images/launcher/new.gif) no-repeat 0px 0px; margin-left:6px; float:left;}

#launcher_middle{padding-bottom:5px;}
#launcher_middle .important_info{width:468px; margin-left:22px;}
#launcher_middle .important_info .head{width:468px; display:none;}
#launcher_middle .normal_info{width:468px; margin-left:22px;}
#launcher_middle .info_table .normal_info .head{background:url(../../../img.capcom.com.tw/mhfg/images/launcher/title_bg_w.gif) no-repeat 0px 0px; width:468px; height:24px; position:relative;}
#launcher_middle ul.article li .date{margin-left:19px;}



